<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style-register.css" />
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon" />
    <title>Plans Classes Admin</title>
  </head>
  <body>
    <section>
      <header>
        <div class="header">
          <form action="/logout" method="post">
            <button
              href="/logout"
              class="btn_header"
              style="padding: 9px !important"
            >
              خروج
            </button>
          </form>
          <a type="submit" href="/auth/reporting" class="btn_header">
            گزارش گیری
          </a>
          <a type="submit" href="/teacher/planDays" class="btn_header">
            تعریف برنامه
          </a>
          <a
            type="submit"
            href="<%= auth.user.admin ? '/admin' : '/teacher' %>"
            class="btn_header"
          >
            صفحه اصلی
          </a>
        </div>
      </header>
    </section>

    <section class="body">
      <section class="main_body">
        <main class="main_form_register">
          <h1 class="head">تعریف دروس</h1>
          <main class="back_form" id="back_form">
            <form class="form" method="POST" action="/auth/lesson" novalidate>
              <%- include('../layouts/error-messages.ejs'); -%>

              <div class="inpt">
                <input
                  class="inout"
                  type="txet"
                  name="lessonName"
                  placeholder=" نام درس "
                  value="<%= old('lessonName') %>"
                  required
                />
              </div>

              <div class="inpt">
                <input
                  class="inout"
                  type="number"
                  name="lessonCode"
                  placeholder=" کد درس "
                  required
                />
              </div>

              <div class="inpt">
                <input
                  class="inout"
                  type="text"
                  name="field"
                  placeholder=" رشته و  گرایش "
                  required
                />
              </div>

              <div class="inpt">
                <input
                  class="inout"
                  type="number"
                  name="unit"
                  placeholder=" واحد "
                  required
                />
              </div>

              <div class="inpt">
                <input
                  class="inout"
                  type="number"
                  name="clock"
                  placeholder=" ساعت "
                  required
                />
              </div>

              <div>
                <button type="submit" class="buttom">عضویت</button>
              </div>
            </form>
          </main>
        </main>
      </section>
    </section>
  </body>
</html>
