<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-admin.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>Plans Classes Teacher</title>
</head>
<body>
    <!-- <header> -->
<section>
    <header>
        <div class="header">
            <form action="/logout" method="post"><button type="submit" href="/logout" class="btn_header"> خروج </button></form>
            <a type="submit" href="/auth/reporting" class="btn_header"> گزارش گیری </a>
            <a type="submit" href="/teacher/planDays" class="btn_header"> تعریف برنامه </a>
            <section class="main_body">
                <div class="main_form"> 
                    <h1 class="head"> MANU </h1>
                        <main class="back_form" id="back_form">
                            <div class="form_link">
                                <section class="text_user_header">
                                    <% if(auth.check) { %>
                                    <div class="user1">
                                        <h3>  <%= auth.user.username %> : نام کاربری </h3></div>
                                        <div class="user2">
                                        <h3> سطح دسترسی : <%= auth.user.admin ? 'مدیریت' : 'اساتید' %></h3></div>
                                        <div class="user3">
                                        <h3> تاریخ عضویت : <%= date(auth.user.createdAt).fromNow() %></h3></div>
                                    <% } %>
                                </section>
                            </div>
                        </main>
                </div>
        </section>
        
        </div>
    </header>

</body>
</html>